body{
    background-color: gray ;

    background-repeat: no-repeat;

   
   

}
#parent{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    height: 300px;
    width: 300px;
    background-color: rgb(71, 119, 122);
    border: 1 px solid transparent;
    border-radius: 5px;   
}
h3{
    text-align: center;
    padding-top: 20px;
}
#btn{
    background: radial-gradient(gray,rgb(229, 222, 230));
    font-size: 20px;
    width: auto;
    margin: 0 auto;
    display: block;
    
}