body{
    background-color: black;
}
h2{
    text-align: center;
    color: rgb(155, 175, 43);
}
.container{
    text-align: center;

}
#type{
    background-color:black;
    color: rgb(193, 194, 189);
    text-align: center;
    height: 30px;
    width: 250px;
}
#btn2{
    color: red;
    
}
#btn{

    color: black;
    font-weight: bolder;

}
li > button{
    font-size: 10px;
    height: 20px;
    width: 50px;

}
ul{
    
    color: rgb(155, 175, 43);
}