body{
    background-color: black;
}
h2,h4{
    text-align: center;
    color: rgb(129, 28, 121);
}
.container{
    text-align: center;

}
#type{
    background-color:black;
    color: rgb(129, 28, 121);
    text-align: center;
    height: 30px;
    width: 300px;
}
#btn{
    background-color: rgb(129, 28, 121);
    color: black;
    height: 44px;
    font-weight: bolder;
    font-size: larger;

   
}
ul{
    
    color: rgb(129, 28, 121);
}