body{
    background-image: url("./img/7.jpg");
    height: 100%;
    width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

h3{
    text-align: center;
    padding-top: 20px;
}
#imgs{
    height: 300px;
    width: 500px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}
#btn{
    background-color: rgb(240, 152, 52);
    padding: 9px;
    width: auto;
    margin: 0 auto;
    display: block;
    
}